.nav-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: var(--nav-height);
  border-bottom: 2px solid black;
}

.nav-list > li {
  display: flex;
  flex: 1;
  padding: 0 0.5rem;
  justify-content: center;
  align-items: center;
  background: var(--green-dark-color);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
  height: var(--nav-height);
  border-left: 0;
}

.nav-list li:last-of-type {
  border-right: none;
}

@media screen and (width >= 768px) {
  .nav-list > li {
    flex: 1;
  }
}
