:root {
  /* Theme */
  /* colors */
  --colors-blue-100: hsl(225 89% 89%);
  --colors-blue-200: hsl(225 89% 81%);
  --colors-blue-300: hsl(226 90% 74%);
  --colors-blue-400: hsl(228 78% 65%);
  --colors-blue-50: hsl(225 86% 97%);
  --colors-blue-500: hsl(229 59% 55%);
  --colors-blue-600: hsl(230 54% 48%);
  --colors-blue-700: hsl(231 62% 38%);
  --colors-blue-800: hsl(233 69% 29%);
  --colors-blue-900: hsl(234 79% 19%);
  --colors-green-100: hsl(139 61% 77%);
  --colors-green-200: hsl(140 39% 65%);
  --colors-green-300: hsl(140 29% 53%);
  --colors-green-400: hsl(142 33% 41%);
  --colors-green-50: hsl(136 100% 94%);
  --colors-green-500: hsl(145 52% 28%);
  --colors-green-600: hsl(152 100% 19%);
  --colors-green-700: hsl(150 100% 14%);
  --colors-green-800: hsl(148 100% 10%);
  --colors-green-900: hsl(143 100% 6%);
  --colors-green-source: hsl(145 52% 28%);
  --colors-neutral-black: hsl(0 0 0%);
  --colors-neutral-white: hsl(0 0 100%);
  --colors-neutral-gray-100: hsl(0 0 84%);
  --colors-neutral-gray-200: hsl(0 0 75%);
  --colors-neutral-gray-300: hsl(0 0 64%);
  --colors-neutral-gray-400: hsl(0 0 55%);
  --colors-neutral-gray-50: hsl(0 0 95%);
  --colors-neutral-gray-500: hsl(0 0 45%);
  --colors-neutral-gray-600: hsl(0 0 36%);
  --colors-neutral-gray-700: hsl(0 0 28%);
  --colors-neutral-gray-800: hsl(0 0 20%);
  --colors-neutral-gray-900: hsl(0 0 12%);
  --colors-olive-100: hsl(74 83% 93%);
  --colors-olive-200: hsl(74 62% 91%);
  --colors-olive-300: hsl(73 48% 89%);
  --colors-olive-400: hsl(72 36% 82%);
  --colors-olive-50: hsl(70 75% 97%);
  --colors-olive-500: hsl(74 28% 79%);
  --colors-olive-600: hsl(73 17% 51%);
  --colors-olive-700: hsl(72 19% 27%);
  --colors-olive-800: hsl(72 30% 17%);
  --colors-olive-900: hsl(77 54% 3%);
  --colors-orange-100: hsl(22 81% 88%);
  --colors-orange-200: hsl(22 81% 79%);
  --colors-orange-300: hsl(22 83% 70%);
  --colors-orange-400: hsl(23 76% 61%);
  --colors-orange-50: hsl(19 80% 96%);
  --colors-orange-500: hsl(23 64% 53%);
  --colors-orange-600: hsl(24 68% 42%);
  --colors-orange-700: hsl(25 72% 29%);
  --colors-orange-800: hsl(25 80% 17%);
  --colors-orange-900: hsl(22 90% 8%);
  --colors-orange-source: hsl(19 71% 38%);
  --colors-red-100: hsl(8 76% 87%);
  --colors-red-200: hsl(8 77% 76%);
  --colors-red-300: hsl(7 77% 66%);
  --colors-red-400: hsl(6 57% 55%);
  --colors-red-50: hsl(9 76% 97%);
  --colors-red-500: hsl(5 58% 44%);
  --colors-red-600: hsl(3 73% 36%);
  --colors-red-700: hsl(3 76% 26%);
  --colors-red-800: hsl(3 84% 17%);
  --colors-red-900: hsl(1 88% 10%);
  --colors-yellow-100: hsl(51 95% 93%);
  --colors-yellow-200: hsl(51 94% 87%);
  --colors-yellow-300: hsl(52 94% 82%);
  --colors-yellow-400: hsl(51 94% 75%);
  --colors-yellow-50: hsl(51 100% 99%);
  --colors-yellow-500: hsl(51 94% 68%);
  --colors-yellow-600: hsl(51 58% 51%);
  --colors-yellow-700: hsl(52 57% 35%);
  --colors-yellow-800: hsl(51 64% 18%);
  --colors-yellow-900: hsl(50 81% 6%);
  /* numbers */
  --sizes-base: var(--sizes-pixels-16px, 16px);
  --sizes-pixels-0px: 0px;
  --sizes-pixels-2px: 2px;
  --sizes-pixels-4px: 4px;
  --sizes-pixels-8px: 8px;
  --sizes-pixels-12px: 12px;
  --sizes-pixels-16px: 16px;
  --sizes-pixels-20px: 20px;
  --sizes-pixels-24px: 24px;
  --sizes-pixels-28px: 28px;
  --sizes-pixels-32px: 32px;
  --sizes-pixels-36px: 36px;
  --sizes-pixels-40px: 40px;
  --sizes-pixels-44px: 44px;
  --sizes-pixels-48px: 48px;
  --sizes-pixels-52px: 52px;
  --sizes-pixels-56px: 56px;
  --sizes-pixels-64px: 64px;
  --sizes-pixels-96px: 69px;
  --sizes-pixels-72px: 72px;
  --sizes-pixels-80px: 80px;
  --sizes-pixels-88px: 88px;
  --sizes-pixels-104px: 104px;
  --sizes-rem-1rem: var(--sizes-pixels-16px, 16px);
}
